a {
    color: CornflowerBlue ; /* 未访问的链接颜色 */

    text-decoration: none;
  }

a:active {
    color: LightBlue   ; /* 链接激活（点击）时的颜色 */
  }

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@200&display=swap')


noto-serif sc-extralight {
  font-family: "Noto Serif SC", serif;
  font-weight: 200;
  font-style: normal;
}

p {
  /* Screen version */
  font-family: "Noto Serif SC", sans-serif;
}
